In [1]:
a=3
if a==3:
    print("Three")
elif a==1:
    print("one")
else:
    print("nothing")

Three

In [4]:
week=int(input("Enter the week no"))
if week==1:
    print("Sunday")
elif week==2:
    print("Monday")
elif week==3:
    print("Tuesday")
elif week==4:
    print("Wednesday")
elif week==5:
    print("Thursday")
elif week==6:
    print("Friday")
elif week==7:
    print("Saturday")
else:
    print("Not Valid")

Monday

In [5]:
msg="Tanu"
msg[1]

'a'

In [12]:
msg="I am a donkey"
for i in range(len(msg)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [23]:
msg="I am a donkey"
print(msg.upper())
print(msg.lower())
print(msg.swapcase())
print(len(msg))
print(len(msg.strip()))

I AM A DONKEY
i am a donkey
i AM A DONKEY
13
13

In [32]:
numbers=(2,4,5,6,9)
s=0
for i in numbers:
    s+=i
print(s)

26

In [30]:
msg="Tanuja"
for item in msg:
    print(item)

T
a
n
u
j
a

In [36]:
numbers="2,3,4,7"
nos = numbers.split(',')
s=0
print(nos)
for item in nos:
    temp=int(item)
    s=s+temp
print(s)

['2', '3', '4', '7']
16

In [37]:
name=input("Name:")
u_class=input("Class:")
print("Your name is {} and you are from {}".format(name,u_class))

Your name is tanu and you are from msds

In [38]:
n=int(input("enter the  number:"))
s=0
for i in range(0,n,2):
    print(i)
    s=s+i
print("Sum=",s)

0
2
4
6
8
10
Sum= 30

In [41]:
list=("hello",2,2.9)
print(list[2])

2.9

In [1]:
a=0
while a<7:
    res = a*a
    print(a,res)
    a=a+1

0 0
1 1
2 4
3 9
4 16
5 25
6 36

In [2]:
#break and continue
for i in range(1,10,1):
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [5]:
for i in range(1,10,1):
    if i==8:
        break
    print(i)

1
2
3
4
5
6
7

In [8]:
list_ex=["ABC","UJK","IOP","ABC","KIM","UKL"]
set_ex={"red","ret","tre","red"}
back=list(set_ex)
print(list_ex)
print(set_ex)
print(back)
print(type(list_ex))
print(type(set_ex))
print(type(back))

['ABC', 'UJK', 'IOP', 'ABC', 'KIM', 'UKL']
{'red', 'tre', 'ret'}
['red', 'tre', 'ret']
<class 'list'>
<class 'set'>
<class 'list'>

Create a list of 10 names that are random and repeating from user identify the  unique items and their count

In [16]:
names= []
for i in range(0,10,1):
    name=input("Enter the name:")
    name=name.strip()
    name=name.upper()
    names.append(name)
print(names)
unique_names=set(names)
for search in unique_names:
    count=0
    for item in names:
        if search==item:
            count=count+1
    print(search,count)

['SWAS', 'SWAS', 'TANU', 'TANU', 'ADI', 'ADI', 'SELI', 'KING', 'LINGU', 'TANU']
SWAS 2
LINGU 1
SELI 1
KING 1
TANU 3
ADI 2

In [1]:
my_dict={'vivo':'Tanuja','moto':'Kingsuk','iphone':'Lingesh'}

In [2]:
print(my_dict['moto'])

Kingsuk

In [3]:
my_dict['iphone']='Selina'

In [4]:
print(my_dict['iphone'])

Selina

In [5]:
print(my_dict)

{'vivo': 'Tanuja', 'moto': 'Kingsuk', 'iphone': 'Selina'}

In [6]:
my_dict['oneplus']='Falak'
print(my_dict)

{'vivo': 'Tanuja', 'moto': 'Kingsuk', 'iphone': 'Selina', 'oneplus': 'Falak'}

In [7]:
my_dict.keys()

dict_keys(['vivo', 'moto', 'iphone', 'oneplus'])

In [9]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['vivo', 'moto', 'iphone', 'oneplus'])
vivo
moto
iphone
oneplus

In [10]:
students={
    'Names':['Selina','Kingsuk','Tanuja','Lingesh','Swastik','Dhruv'],
    'Rollno':['1','2','3','4','5','6']
}
for name in students['Names']:
    print(name)

Selina
Kingsuk
Tanuja
Lingesh
Swastik
Dhruv

In [16]:
print(students['Names'][2])

Tanuja

In [17]:
students['Names'][2]

'Tanuja'

In [19]:
mscds=[
    {
        'Roll no':1,
        'Name':'Aditya',
        'Hobby':'Basketball'
    },
    {
        'Roll no':2,
        'Name':'Stuty',
        'Hobby':'Badminton'
    },
    {
        'Roll no':3,
        'Name':'Debo',
        'Hobby':'Singing'
    }
]
print(mscds[1]['Name'])

Stuty

In [20]:
for students in mscds:
    print(students)
    for key in students.keys():
        print(students[key],end='\t')
    print()

{'Roll no': 1, 'Name': 'Aditya', 'Hobby': 'Basketball'}
1	Aditya	Basketball
{'Roll no': 2, 'Name': 'Stuty', 'Hobby': 'Badminton'}
2	Stuty	Badminton
{'Roll no': 3, 'Name': 'Debo', 'Hobby': 'Singing'}
3	Debo	Singing